<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/admin"></ion-back-button>
      </ion-button>
      <ion-button (click)="menu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img slot="end" src="../../../assets/icon/icon.png">
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionChange)="onSearch($event)" debounce="1500"></ion-searchbar>

<ion-content>
  <div *ngIf="searchText">
    <ion-card *ngFor="let trail of trails | filter: searchText">
      <img class="img2" src={{trail.payload.doc.data().imgURL}} />
      <ion-card-header>
        <ion-card-subtitle><br>
          <ion-icon name="walk-outline"></ion-icon>
          {{trail.payload.doc.data().distance}} Km
        </ion-card-subtitle>
        <ion-card-title>{{trail.payload.doc.data().name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{trail.payload.doc.data().description}}<br>
      </ion-card-content>
      <ion-item class="buttons">
        <ion-buttons slot="start">
          <ion-button >
            <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="addFav(trail.payload.doc.data().id)">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </div>
</ion-content>