<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maps">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourite">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>