<ion-header>
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form class="form" [formGroup]="userForm" (ngSubmit)="onRegister(userForm)">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.email">
      <div
        *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.password">
      <div
        *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
        {{ error.message }}
      </div>
    </ng-container>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!userForm.valid" expand="block">Registro</ion-button>
      </ion-col>
    </ion-row>

    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
    
  </form>
  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/login">¿Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>